---
layout: full
title: The Engine Room Library
show_footer: false
show_navbar: false
theme: table-of-contents
---

<div class="top row container">
	<div class="three columns">
		<a href="//www.theengineroom.org/" target="_blank"><img src="/images/logos/library-dark.png" width="220px"></a>
	</div>

	<div class="nine columns">
		<nav class="lang-nav">
			<ul>
				<li><a href="#en" data-lang-target="en" class="active">en</a></li>
				<li><a href="#fr" data-lang-target="fr">fr</a></li>
				<li><a href="#id" data-lang-target="id">id</a></li>
				<li><a href="#pt" data-lang-target="pt">pt</a></li>
				<li><a href="#es" data-lang-target="es">es</a></li>
			</ul>
		</nav>

		<div class="lang-box lang-show" lang="en">
			<p><a href="https://www.theengineroom.org">The Engine Room</a>'s Library collects what we're learning about using data and technology for social change. Each 'book' in the Library is a brief introduction to a topic, with links to other places where you can learn more.</p>
			<p>We're always finding information through our direct support, community and research work that we think should be shared as widely as possible. So, we summarise what we've found, and present it in a simple, easy-to-understand way.</p>
			<p>We try to keep every 'book' short, so that anyone can scroll through and quickly find what's relevant for them. We'd usually like to include a lot more information than we have space to include here. If you want to know more about a certain area, or think we should add something, <a href="http://theengineroom.org/contact/">get in touch</a>. We’d love to talk more.</p>

			<p>The contents of all the books in our Library, and the code behind it, are all openly-licensed and available on <a href="https://github.com/the-engine-room/library">GitHub</a>.  </p>
		</div>

		<div class="lang-box lang-hidden" lang="fr">
			<p>La Bibliothèque d’<a href="https://www.theengineroom.org">The Engine Room</a> rassemble les connaissances acquises à ce jour sur l’utilisation des données et de la technologie en faveur du changement social. Chaque « livre » de la bibliothèque sert d’introduction à un sujet, et contient des liens vers des ressources additionnelles.</p>
			<p>Nous tirons toujours nos informations du soutien direct que nous apportons, et des travaux de recherche et actions communautaires que nous estimons nécessaire de diffuser largement. Nous résumons ainsi ce que nous avons appris sous une forme simple et facile à comprendre.</p>
			<p>Nous nous efforçons de rédiger des « livres » succincts, pour que chacun puisse les consulter rapidement et y puiser des informations pertinentes. Nous aimerions souvent fournir plus d’informations que ce format nous le permet. Si vous souhaitez en savoir plus sur un certain domaine ou si vous estimez que nous devrions ajouter quelque chose, <a href="http://theengineroom.org/contact/">contacter-nous</a>. Nous nous ferons un plaisir de discuter avec vous.</p>

			<p>Le contenu de tous les livres de notre Bibliothèque ainsi que leur code sont généralement disponibles sous licence libre et gratuite sur <a href="https://github.com/the-engine-room/library">GitHub</a>.  </p>
		</div>

		<div class="lang-box lang-hidden" lang="id">
			<p>Perpustakaan <a href="https://www.theengineroom.org/">The Engine Room</a> mengumpulkan apa yang kami ketahui tentang penggunaan data dan teknologi untuk perubahan sosial. Setiap buku di Perpustakaan merupakan pengantar singkat untuk sebuah topik, dengan tautan ke tempat-tempat lain di mana Anda dapat belajar lebih banyak.</p>
			<p>Kami selalu mendapatkan informasi dari pihak yang mendukung kami, masyarakat dan kegiatan riset yang menurut kami harus disebarluaskan sebanyak mungkin. Jadi, kami merangkum apa yang kami dapatkan, dan menyajikannya dalam cara yang simpel, mudah dipahami. </p>
			<p>Kami berusaha agar setiap 'buku' disajikan dengan singkat, sehingga setiap orang dapat menelusurinya dan dengan cepat menemukan apa yang sesuai untuk mereka. Kami ingin menampilkan sebanyak mungkin informasi namun kapasitas ruangnya tidak mencukupi. Jika Anda ingin mengetahui lebih banyak mengenai satu bidang tertentu, atau menurut Anda kami harus menambahkan sesuatu, silakan <a href="http://theengineroom.org/contact/">hubungi kami</a>. Kami ingin berbicara lebih jauh.</p>

			<p>Isi dari semua buku di Perpustakaan, dan kode di belakangnya, semuanya memiliki lisensi terbuka dan tersedia di <a href="https://github.com/the-engine-room/library">GitHub</a>.</p>
		</div>

		<div class="lang-box lang-hidden" lang="pt">
			<p>A biblioteca do <a href="https://www.theengineroom.org/">The Engine Room</a> coleta o que temos aprendido sobre o uso de dados e tecnologia para mudança social. Cada 'livro' da Biblioteca é uma breve introdução a um assunto, com links para outros lugares onde você pode aprender mais.</p>
			<p>Através da nossa assistência direta, comunidade e trabalho de pesquisa, estamos sempre encontrando informações que achamos que devem ser compartilhadas o máximo possível. Então, resumimos o que encontramos e apresentamos de forma simples e fácil de entender.</p>
			<p>Tentamos manter cada 'livro' curto, de forma que qualquer pessoa possa passar os olhos e achar rapidamente o que é relevante para ela. Gostaríamos de incluir muito mais informações, mas o espaço aqui não nos permite. Se quiser saber mais sobre uma determinada área, ou achar que devemos adicionar algo, <a href="http://theengineroom.org/contact/">entre em contato.</a>. Adoraríamos conversar mais.</p>

			<p>O conteúdo de todos os livros da nossa biblioteca e seus códigos têm licença livre e estão disponíveis em <a href="https://github.com/the-engine-room/library">GitHub</a>.</p>
		</div>

		<div class="lang-box lang-hidden" lang="es">
			<p>La Biblioteca de <a href="https://www.theengineroom.org/">The Engine Room</a> recopila lo que estamos aprendiendo sobre el uso de los datos y la tecnología para impulsar el cambio social. Cada “libro” en la Biblioteca presenta una breve introducción a un tópico y enlaces a otros sitios que contienen mayores detalles.</p>
			<p>A fin de dar la mayor distribución posible a la información que vamos obteniendo gracias a nuestros esfuerzos comunitarios, de apoyo y de investigación, resumimos nuestros resultados en una presentación sencilla y fácil de comprender.</p>
			<p>Intentamos presentar “libros” cortos que permiten explorar y encontrar rápidamente la información relevante. En general quisiéramos incluir contenido que excede la capacidad de este espacio. Puede <a href="http://theengineroom.org/contact/">contactarnos</a> si desea obtener información adicional sobre un área determinada o si considera que hay algo que debamos agregar. Sería un placer conversar más.</p>
			<p>El contenido de todos los libros que contiene nuestra Biblioteca, y el código de soporte, son de licencia abierta y se encuentran disponibles en <a href="https://github.com/the-engine-room/library">GitHub</a>.</p>
		</div>
	</div>
</div>

<hr>

<div class="container lang-box lang-show" lang="en" id="books">
	{% for book in site.books %}
		{% if book.lang == 'en' %}
			{% capture uen %}{% cycle 'odd', 'even' %}{% endcapture %}
			{% if uen == 'odd' or forloop.first %}
			<!-- </div> -->
			{% endif %}
				<div class="ref" data-ref="{{book.ref}}" id="en-{{book.ref}}">
					<div class="four columns">
						<a href="{{book.url}}"><img src="{{ book.image }}" width="100px"></a>
					</div>
					<div class="eight columns">
						<h2><a href="{{book.url}}">{{ book.title }}</a></h2>
						<p>{{ book.description }}</p>
					</div>
				</div>
			{% if uen == 'even' or forloop.last %}
			<!-- </div> -->
			{% endif %}
		{% endif %}
	{% endfor %}
</div>

<div class="container lang-box lang-hidden" lang="fr" id="books">
	{% for book in site.books %}
		{% if book.lang == 'fr' %}
		
			{% capture ufr %}{% cycle 'odd', 'even' %}{% endcapture %}
			
			{% if ufr == 'odd' or forloop.first %}
			<!-- <div class="row"> -->
			{% endif %}
			
				<div class="ref" data-ref="{{book.ref}}" id="fr-{{book.ref}}">
					<div class="four columns">
						<a href="{{book.url}}"><img src="{{ book.image }}" width="100px"></a>
					</div>
					<div class="eight columns">
						<h2><a href="{{book.url}}">{{ book.title }}</a></h2>
						<p>{{ book.description }}</p>
					</div>
				</div>
				
			{% if ufr == 'even' or forloop.last %}
			<!-- </div> -->
			{% endif %}
			
		{% endif %}
		
	{% endfor %}
	<!-- This closing tag is forced in here to break out of the loop --></div>
	<div class="row fr-last-row"></div>
</div>

<div class="container lang-box lang-hidden" lang="id" id="books">
	{% for book in site.books %}
		{% if book.lang == 'id' %}
		
			{% capture uid %}{% cycle 'odd', 'even' %}{% endcapture %}
			
			{% if uid == 'odd' or forloop.first %}
			<!-- <div class="row"> -->
			{% endif %}
			
				<div class="ref" data-ref="{{book.ref}}" id="id-{{book.ref}}">
					<div class="four columns">
						<a href="{{book.url}}"><img src="{{ book.image }}" width="100px"></a>
					</div>
					<div class="eight columns">
						<h2><a href="{{book.url}}">{{ book.title }}</a></h2>
						<p>{{ book.description }}</p>
					</div>
				</div>
				
			{% if uid == 'even' or forloop.last %}
			<!-- </div> -->
			{% endif %}
			
		{% endif %}
		
	{% endfor %}
	<!-- This closing tag is forced in here to break out of the loop --></div>
	<div class="row id-last-row"></div>
</div>

<div class="container lang-box lang-hidden" lang="pt" id="books">
	{% for book in site.books %}
		{% if book.lang == 'pt' %}
			{% capture upt %}{% cycle 'odd', 'even' %}{% endcapture %}
			{% if upt == 'odd' or forloop.first %}
			<!-- <div class="row"> -->
			{% endif %}
				<div class="ref" data-ref="{{book.ref}}" id="pt-{{book.ref}}">
					<div class="four columns">
						<a href="{{book.url}}"><img src="{{ book.image }}" width="100px"></a>
					</div>
					<div class="eight columns">
						<h2><a href="{{book.url}}">{{ book.title }}</a></h2>
						<p>{{ book.description }}</p>
					</div>
				</div>
			{% if upt == 'even' or forloop.last %}
			<!-- </div> -->
			{% endif %}
		{% endif %}
	{% endfor %}
	
	<div class="row pt-last-row"></div>
</div>

<div class="container lang-box lang-hidden" lang="es" id="books">
	{% for book in site.books %}
		{% if book.lang == 'es' %}
			{% capture ues %}{% cycle 'odd', 'even' %}{% endcapture %}
			{% if ues == 'odd' or forloop.first %}
			<!-- <div class="row"> -->
			{% endif %}
				<div class="ref" data-ref="{{book.ref}}" id="es-{{book.ref}}">
					<div class="four columns">
						<a href="{{book.url}}"><img src="{{ book.image }}" width="100px"></a>
					</div>
					<div class="eight columns">
						<h2><a href="{{book.url}}">{{ book.title }}</a></h2>
						<p>{{ book.description }}</p>
					</div>
				</div>
			{% if ues == 'even' or forloop.last %}
			<!-- </div> -->
			{% endif %}
		{% endif %}
	{% endfor %}
	
	<div class="row es-last-row"></div>
</div>
