<a id="toggle" href="#">&#8801;</a>
<ul class="nav">
  {% for item in page.navigation %}
    {% assign navname = item.name %}
    {% if item.slug %}
      {% assign navid = item.slug %}
    {% elsif item.name %}
      {% assign navid = item.name | strip | downcase | replace:' ','-' | remove: "é" | remove: "?" | remove: "¿" | remove: "í" | remove: "’" | remove: "û" | remove: "à" | remove: "ã" | remove: "ç" | remove: "ó" | remove: "É" | remove: "À-" %}
    {% else %}
      {% assign navid = item | strip | downcase | replace:' ','-' | remove: "é" | remove: "?" | remove: "¿" | remove: "í" | remove: "’" | remove: "û" | remove: "à" | remove: "ã" | remove: "ç" | remove: "ó" | remove: "É" | remove: "À-" %}
      {% assign navname = item %}
    {% endif %}
    <li>
      <a href="#{{ navid }}">
        {{ navname }}
      </a>
    </li>
  {% endfor %}
</ul>
