<a id="toggle" href="#">&#8801;</a>
<ul class="nav theme-background">
  {% for item in page.navigation %}
    {% assign navname = item.name %}
    {% if item.slug %}
      {% assign navid = item.slug %}
    {% elsif item.name %}
      {% assign navid = item.name | strip | downcase | replace:' ','-' %}
    {% else %}
      {% assign navid = item | strip | downcase | replace:' ','-' %}
      {% assign navname = item %}
    {% endif %}
    <li>
      <a href="#{{ navid }}">
        {{ navname }}
      </a>
    </li>
  {% endfor %}
</ul>
