// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.u-center {
  margin: 0 auto;
}

.u-flex-center {
    @media (#{$bp-larger-than-phablet}) {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;

        align-items: center;
    }

}