---
---
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:image" content="{{ site.baseurl }}/images/logos/engineroom.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://library.theengineroom.org/" />
    <meta property="og:title" content="" />

    <link href="{{site.baseurl}}/images/icons/favicon.png" rel="shortcut icon" type="image/png" />
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css?v={{site.time | date: '%s'}}" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="{{site.baseurl}}/scripts/scrollspy.js"></script>
    <script src="{{site.baseurl}}/scripts/site.js"></script>

    <title>{{page.title}}</title>
    {% if page.scripts %}{{page.scripts}}{% endif %}
  </head>




  <body class="row {% if layout.theme %}{{layout.theme}}{% endif %}">
    {% if page.show_navbar %}
    <nav class="three columns">
      <div class="logo">
        <a href="/"><img src="{{site.baseurl}}/images/logos/library-light.png" alt="Engine Room" /></a>
      </div>
      {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
      {% include navbar.html %}
    </nav>
    {%endif%}

    {{content}}

    {% if page.show_footer %}
    <footer class="twelve columns row">
      <div class="nine columns offset-by-three u-flex-center">
        <div class="logos four columns u-flex-center">
            <div class="logo half-width"><a href="https://theengineroom.org"><img src="{{site.baseurl}}/images/logos/engineroom.png" alt="The Engine Room" /></a></div>
            {% if page.funder_logo %}
            <div class="logo half-width"><a href="{{page.funder_link}}"><img src="{{site.baseurl}}{{page.funder_logo}}" alt="{{page.funder_name}}" /></a></div>
            {% endif %}
          </div>
          <div class="text six columns">
            <p>{% if page.footer_text %}{{page.footer_text}}{%else%}
              This page was created by The Engine Room{% if page.funder_name %} and {{page.funder_name}}{% endif %}.
              {% endif %}
            </p>
          </div>
          <div class="logo license one column">
            <a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode">
              <img src="{{site.baseurl}}/images/license.png"/>
            </a>
          </div>
      </div>
    </footer>
    {% endif %}
    {% include analytics.html %}
  </body>
</html>
