html {

  height: 100%;

  position: relative; // required for scrollspy

}

body {
  background: $white;
}

nav {
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 1;

  @media (#{$bp-larger-than-phablet}) {
  height: 100%;
  background: $grape;
  padding: 0px 0 0;

  }


  .logo {
  padding: 0 20px 0px 20px; 


  margin: 0 auto;
  float: right; 
  width: 20%;
  padding-top: 6px;


  @media (#{$bp-larger-than-phablet}) {
    float: none;
    height: auto;
    width: 50%;
  }


  img {
    width: 100%;
    height: 100%;
  }

  }



  h1 {
  padding: 10px 0 15px 0;
  margin: 0;
  
  background: $grape;
  color: $white;
  font-weight: bold;
  
  @media (#{$bp-larger-than-phablet}) {
    background: $white;
    color: $dark-grey;
    margin-bottom: 20px; }

  }



  a {
  text-decoration: none;

  }
  
  a#toggle {
  float: left;
  position: relative;
  margin-top: -55px;
  margin-left: 20px;
  font-size: 2em;
  color: $white;


  @media (#{$bp-larger-than-phablet}) { display: none; }

  }



  ul.nav {
  list-style-type: none;
  margin: 0;
  position: relative;
  top: -20px; // cancel out h1 margin-bottom


  // allow vertical scroll on small screens
  overflow-y: scroll;
  height: calc(100% - 160px);


  // initially hidden on mobile
  display: none;


  // nav at top
  &.visible {
    float: none;
    width: calc(80% - 20px);
    background: $grape;
  }
  li {
    padding: 10px 0;
    margin-bottom: 0;
    font-weight: bold;
    a { color: $white; }
  }
  li.active, li:hover {
    background: $dark-grey;
    color: $white;
  }


  // nav to side
  @media (#{$bp-larger-than-phablet}) {
    display: block;
    width: 100%;


    a {
      // fill nav li
      position: relative;
      display: block;
      padding: 10px 0;
    }
  }

  }

}




nav.lang-nav {
  position: relative;
  float: right;
  clear: both;
  background: transparent;
  text-align: right;
  font-size: 13px;
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    li {
      display: inline-block;
      margin: 0px 4px;
      a.active {
        font-weight: bold; 
      }
    }
  }
}

.lang-show { display: block; }
.lang-hidden { display: none; }


// greyed out text and title for english-only content
body.table-of-contents #books .ref.greyed {
  h2 a { color: #333; }
  p { color: #666; }
}
.ref {
  display: block;
  float: left;
  clear: none;
  width: 100%;
  min-height: 280px;
  .four.columns a { display: block; width: 100%; text-align: center; }
  @media (#{$bp-larger-than-phablet}) { width: 50%; }
}
body.page > .content {

  padding-top: 50px; // make space for navbar

  @media (#{$bp-larger-than-phablet}) { padding-top: 0; }

}

blockquote {
    padding-top: 10px;
    padding-right: 10px;
    background: #5DBFC6;
    border-left: 8px solid #166A70;
    padding-bottom: 1px;
    margin-left: 50px;
    padding-left: 7px;

    a {
      color: #464646;
    }

} 


footer {

  padding: 30px 0;



  background: $dark-grey;

  color: $white;



  .logo {
  &.half-width {
    // keep logos on same line in mobile footer
    float: left;
    width: 45%;
    &:first-child { margin-right: 10%; }
    vertical-align: middle;
    img {
      width: 75%;
      height: 75%;
      left: 15%;
    }
    @media (#{$bp-larger-than-phablet}) {
      img { width: 100%; height: 100%; left: 0; }
    }
  }


  img {
    width: 50%;
    height: 50%;
    position: relative;
    left: 25%;
    @media (#{$bp-larger-than-phablet}) {
      left: 0;
      width: 100%;
      height: 100%;
    }
    vertical-align: middle;
  }

  }



  .text {
  text-align: center;
  p {
    margin: 2.5rem 0;
    @media (#{$bp-larger-than-phablet}) { margin: 0; }
  }

  }

  .license img {
  width: 25%;
  left: 37.5%;
  @media (#{$bp-larger-than-phablet}) { width: 200%; }

  }

}
