article.page {
  padding: 20px 40px 20px 20px;
  @media (#{$bp-larger-than-phablet}) { padding-left: 0; }

  section.content {
    clear: both;

    h1, h2, h3, h4, h5, h6, p {
      width: 100%;
      clear: both;
    }

    p > img {
      width: 60%;
      position: relative;
      left: 20%;
    }
  }
}