article.page {
  padding: 20px 40px 20px 20px;
  @media (#{$bp-larger-than-phablet}) { padding-left: 0; }

  section.content {
    clear: both;

    h1, h2, h3, h4, h5, h6, p {
      width: 100%;
      clear: both;
    }

    p > img {
      width: 60%;
      position: relative;
      left: 20%;
    }

    table {
      display: block;
      overflow-x: auto;
      width: 100%;

      tr:last-child td {
        border-bottom: 0;
      }
    }
  }
}