body.rainforest {
	nav { 
		background-color: #056330;
	}


	blockquote {
    padding-top: 10px;
    padding-right: 10px;
    background: #d09b2c;
    border-left: 8px solid #811619;
    padding-bottom: 1px;
    margin-left: 50px;
    padding-left: 7px;
} 
	
}