@import 'https://fonts.googleapis.com/css?family=Roboto';

@font-face {
    font-family: 'Baton';
    src: url('fonts/Baton-Regular-Web.eot');
    src: url('fonts/Baton-Regular-Web.eot?#iefix') format('embedded-opentype'),
         url('fonts/Baton-Regular-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Baton';
    src: url('fonts/Baton-Bold-Web.eot');
    src: url('fonts/Baton-Bold-Web.eot?#iefix') format('embedded-opentype'),
         url('fonts/Baton-Bold-Web.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Baton';
    src: url('fonts/Baton-Regular-Italic-Web.eot');
    src: url('fonts/Baton-Regular-Italic-Web.eot?#iefix') format('embedded-opentype'),
         url('fonts/Baton-Regular-Italic-Web.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-heading;
}

h1 {
  font-size: 2.25rem;
  @media (#{$bp-larger-than-mobile}) { font-size: 3rem; }
  line-height: 1.2;
  letter-spacing: -.1rem;
}


section.content {
  ul, ol {
    list-style-position: outside;
    margin-left: 0;
    padding-left: 1em;
    li {
      padding-left: 1em;
    }
  }

  li { margin-bottom: 1.2rem; margin-left: 30px; }

  p { margin-bottom: 1.5rem; }

  h1 {
    font-style: italic;
    font-size: 4rem;
  }

  h2 {
  	font-weight: bold;

    &:before {
        float: left;
        content: '';
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }

    &#about:before, &#tentang:before, &#sobre:before, &#sobre:before, &#propos:before, &#acerca-de-este-sitio:before { background-image: url('../images/icons/about.svg'); }
    &#definition:before { background-image: url('../images/icons/definition.svg'); }
    &#examples:before { background-image: url('../images/icons/examples.svg'); }
    &#tools-and-platforms:before { background-image: url('../images/icons/tools.svg'); }
    &#implementation:before { background-image: url('../images/icons/implementation.svg'); }
    &#planning:before { background-image: url('../images/icons/planning.svg'); }
    &#pros-and-cons:before { background-image: url('../images/icons/procon.svg'); }

    &#participatory-and-gps-mapping:before, &#pemetaan-partisipatif-dan-gps:before, &#mapeamento-participativo-e-por-GPS:before, &#mapeo-participativo-y-con-GPS:before, &#cartographie-participative-et-GPS:before, { background-image: url('../media/rainforest/participatory.svg'); }
    &#mobile-phone-applications:before, &#aplikasi-telepon-seluler:before, &#aplicaciones-para-telfonos-mviles:before, &#applications-mobiles:before { background-image: url('../media/rainforest/mobile.svg'); }
    &#satellite-imagery:before, &#citra-satelit:before, &#imagens-de-satlite:before, &#imgenes-satelitales:before, &#imagerie-satellite:before { background-image: url('../media/rainforest/satellite.svg'); }
    &#audio-and-video:before, &#audio-dan-video:before, &#udio-e-vdeo:before, &#audio-y-video:before, &#audio-et-vido:before { background-image: url('../media/rainforest/audio.svg'); }
    &#do-it-yourself-aerial-photography:before, &#foto-udara-lakukan-sendiri:before, &#fotografia-area-faa-voc-mesmo:before, &#fotografa-area-creada-por-usuarios:before, &#photographies-ariennes-indpendantes:before { background-image: url('../media/rainforest/drone.svg'); }
    &#online-maps:before, &#peta-online:before, &#mapas-online:before, &#mapas-en-lnea:before, &#cartes-en-ligne:before { background-image: url('../media/rainforest/online.svg'); }

    &#foreword:before { background-image: url('../images/icons/foreward.svg'); }
    &#introduction:before, &#pengantar:before, &#introduo:before, &#introduccin:before { background-image: url('../images/icons/foreward.svg'); }
    &#tools:before, &#alat-dan-perangkat:before, &#ferramentas:before, &#herramientas:before, &#outils:before { background-image: url('../images/icons/tools.svg'); }
    &#strategy:before, &#strategi:before, &#planejamento:before, &#estratgia:before, &#estrategia:before, &#planificacin:before, &#planification:before { background-image: url('../images/icons/planning.svg'); }
    &#matching-objectives-with-tools:before, &#memadankan-tujuan-anda-dengan-perangkat:before, &#combinando-seus-objetivos-com-as-ferramentas:before, &#adaptar-las-herramientas-a-los-objetivos:before, &#les-bons-outils-pour-les-bons-objectifs:before { background-image: url('../images/icons/objectives.svg'); }
    &#further-resources:before, &#sumber-lain:before, &#outros-recursos:before, &#otros-recursos:before, &#ressources-complmentaires-1:before { background-image: url('../images/icons/further.svg'); }
    &#conclusion:before { background-image: url('../images/icons/conclusion.svg'); }

    &#summary:before { background-image: url('../images/icons/foreward.svg'); }
    &#overview:before { background-image: url('../images/icons/overview.svg'); }
    &#challenges:before { background-image: url('../images/icons/challenge.svg'); }
    &#tensions:before { background-image: url('../images/icons/tension.svg'); }
    &#best-practices:before { background-image: url('../images/icons/examples.svg'); }
    &#acknowledgements:before { background-image: url('../images/icons/about.svg'); }

  }

  h3 { font-size: 22pt; }

  h4 { font-size: 16pt; }

  h5 { font-weight: bold; color: gray; font-size: 13pt; margin-bottom: 0rem; }

  td, th { padding: 10px 20px; }

}
