@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

h1 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem;  }

h2 { font-weight: bold; }

h3 { font-size: 22pt; }

h4 { font-size: 16pt; }

li { margin-bottom: 1.2rem; margin-left: 30px; }

p { margin-bottom: 1.5rem; }